---
layout: default
title: Lei Geral de Proteção de Dados - E agora José
description: A Lei Geral de Proteção de Dados Pessoais (LGPD) finalmente entrou em vigor no dia 18 de setembro de 2020 e afetará a forma como coletamos informações de usuários. 
---

<article>
  <small>27/09/2020</small>
  <div class="post">
    <h2>Lei Geral de Proteção de Dados - E agora José?</h2>
    {% include shared.html %}

    <p>A Lei Geral de Proteção de Dados Pessoais (LGPD) finalmente entrou em vigor no dia 18 de setembro de 2020 e afetará a forma 
        como coletamos informações de usuários. Ela segue o modelo do Regulamento Geral de Proteção de Dados (GDPR) da UE.</p>

    <p>O principal objetivo é garantir mais segurança, privacidade e transparência no uso de informações pessoais. Com a nova 
        legislação, o usuário terá o direito de consultar quais dos seus dados as empresas têm, como armazenam e até pedir a retirada 
        deles do sistema.</p>

    <h3>O que é dado pessoal segundo o artigo 5º da LGPD?</h3>
    <p><strong>Dado pessoal:</strong> Informação relacionada à pessoa natural identificada ou identificável. Esses dados podem ser números de 
        documentos como RG, CPF, PIS e endereço.</p>

    <p><strong>Dado pessoal sensível:</strong> Informação pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, 
        filiação a sindicato ou organizações de carácter religioso, filosófico ou político, dado referente à saúde ou a vida sexual, 
        dado genético ou biométrico, quando vinculado a uma pessoa natural;</p>

    <h3>O que muda com a LGPD?</h3>
    <p>Todas as empresas terão que atender às exigências da LGPD. A principal premissa  é que a nova lei prevê o consentimento dos clientes 
        para o uso das informações.</p>
    <p>Agora é necessário deixar especificado quais fins serão dados para as informações coletadas. A autorização deve ser requerida de forma 
        clara, direta e informando qual será a utilização desses dados.</p>

    <p>No caso de novo uso dos dados, será necessário uma nova autorização, que poderá ser anulada a qualquer momento pelo titular dos dados.</p>

    <p>Por exemplo, se um indivíduo contrata um serviço de qualquer natureza e precisa fornecer informações pessoais para obtê-lo, será 
        obrigatório justificar a necessidade disso. Fica vetado o uso dos dados para outras finalidades que não sejam as que foram acordadas 
        e o armazenamento de informações as quais as empresas não possam comprovar a necessidade.</p>

    <p>Uma vez solicitada a retirada dos dados do sistema pelo usuário a empresa deve garantir o fim de ciclo de vida dessa informação.</p>

    <p>A LGPD também garante aos usuários o direito de responsabilizar as empresas caso seus dados sejam roubados por terceiros. Quem 
        descumprir a lei pode ser multado em R$ 50 milhões por infração ou em até 2% do faturamento.</p>

    <h3>O que as empresas devem fazer para se adaptar?</h3>

    <p>Para se adequar à LGPD, será necessário mudar a cultura no que diz respeito à gestão dos dados de usuários e dados de colaboradores, 
        contratação de especialistas e investimento em segurança da informação.</p>

    <p>É recomendável que a empresa faça um mapeamento e documentação dos dados que já possui e classifique essas informações. É importante, 
        por exemplo, verificar se estão armazenados de maneira segura, se foram coletadas mediante consentimento e para qual finalidade. 
        Além disso, os funcionários que lidam com dados de pessoas e clientes devem assegurar o sigilo das informações seguindo boas práticas 
        de segurança da informação.</p>

    <p>Entre as exigências da LGPD está a criação do cargo de DPO (sigla em inglês para Data Protection Officer), um profissional que deve 
        ficar inteiramente responsável pela segurança dos dados (de funcionários, indivíduos de fora da organização ou ambos). A lei não 
        especifica a formação, porém deve ser alguém com conhecimentos em leis e na área de TI. Uma das atribuições desse profissional será 
        prestar contas à ANPD com o envio de relatórios sobre os impactos da proteção dos dados.</p>

    <h3>Conclusão</h3>
    <p>O fato de estarmos discutindo a lei mostra que ela por si só já tem um papel educativo importante, a história nos mostra que as leis 
        têm o dever de estabelecer mudanças comportamentais e culturais dentro da nossa sociedade. Nós só compartilhamos informações com 
        quem confiamos e o mesmo deve ser feito com os dados pessoais. A partir de agora os indivíduos só trocarão dados com quem confiam 
        efetivamente e a confiança vem de tudo que foi citado anteriormente no que tange a transparência, a segurança e a ética.</p>

    <p>A LGPD é muito maior que apenas cumprir uma obrigação jurídica existente, tem a ver com competitividade comercial, pois se você não 
        for transparente e confiável,as pessoas não irão compartilhar seus dados com você.</p>

    </div>
</article>

{% include comments.html %}